<nav class="navbar">
    <div class="container nav-container">
        <a href="/" class="nav-logo">
            <img src="{{ url_for('static', path='/img/salus.png') }}" alt="Salus AI Logo" class="nav-logo-icon">
            <span>Salus AI</span>
        </a>
        
        <ul class="nav-menu">
            <li class="nav-item" id="nav-login"><a href="/pagina-login" class="nav-link">Login</a></li>
            <li class="nav-item" id="nav-register-paziente"><a href="/pagina-registrazione-paziente" class="nav-link">Registrati (Paziente)</a></li>
            <li class="nav-item" id="nav-register-medico"><a href="/pagina-registrazione-medico" class="nav-link">Registrati (Medico)</a></li>

            <li class="nav-item hidden" id="nav-cerca-medici"><a href="/medici" class="nav-link">I Nostri Medici</a></li>
            <li class="nav-item hidden" id="nav-profilo-paziente"><a href="/profilo" class="nav-link">Il Mio Profilo</a></li>
            
            <li class="nav-item hidden" id="nav-dashboard-medico"><a href="/dashboard-medico" class="nav-link">Dashboard</a></li>
            <li class="nav-item hidden" id="nav-gestione-disponibilita"><a href="/gestione-disponibilita" class="nav-link">Disponibilità</a></li>
            <li class="nav-item hidden" id="nav-recensioni-medico"><a href="/le-mie-recensioni" class="nav-link">Le Mie Recensioni</a></li>

            <li class="nav-item hidden" id="nav-logout"><a href="#" id="logout-button" class="nav-link btn-logout">Logout</a></li>
        </ul>
    </div>
</nav>