{% extends "layouts/base.html" %}

{% block title %}Registrazione Paziente - MediClick{% endblock %}

{% block content %}
<div class="form-container">
    <form class="form-box" action="/pagina-registrazione-paziente" method="post">
        <h2>Crea il Tuo Account Paziente</h2>

        {% if error %}
            <div class="form-error">{{ error }}</div>
        {% endif %}

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Mario" required>
        </div>
        <div class="form-group">
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" name="cognome" placeholder="Rossi" required>
        </div>
        <div class="form-group">
            <label for="telefono">Numero di Telefono</label>
            <input type="tel" id="telefono" name="telefono" placeholder="10 cifre, es. 3331234567" required minlength="10" maxlength="10">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="mario.rossi@email.com" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Minimo 8 caratteri" required minlength="8">
                <span class="password-toggle-icon"></span>
            </div>
        </div>
        <button type="submit" class="btn-form">Registrati</button>
        <p class="form-switch">
            Sei già registrato? <a href="/pagina-login">Accedi</a>
        </p>
    </form>
</div>
{% endblock %}